
.RectanglePost {
    width: 550px;
    margin-top: 38px;
    margin-right: 40px;
    margin-bottom: 30px;
    margin-left: 150px;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    cursor:pointer;
  }
.RectanglePost:hover{
  opacity: 0.4;
}
.PostContent {
  list-style-type: none;
  
}
.TextContent{
    width: 440px;
    height: 40px;
    margin: 6px 16px 14px 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #828282;
}
.-hours-ago-by-autho {
  width: 107px;
  height: 13px;
  margin: 2px 309px 7px 8px;
  font-family: Roboto;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #767676;
}
.iconmonstr-favorite-3 {
  width: 24px;
  height: 22px;
  object-fit: contain;
}
